# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.env
/lib/ui/screens/q_and_a/q_and_a_state.freezed.dart
/lib/ui/screens/q_and_a/q_and_a_view_model.g.dart
/lib/app_container.g.dart
/.env.dart
/lib/common/env.g.dart
/lib/data/model/chat.freezed.dart
/lib/ui/screens/ai_chat/ai_chat_state.freezed.dart
/lib/ui/screens/ai_chat/ai_chat_view_model.g.dart
/lib/ui/screens/ai_consultant/ai_consultant_state.freezed.dart
/lib/ui/screens/ai_consultant/ai_consultant_view_model.g.dart
/lib/ui/screens/waiting_tile_checker/waiting_tile_checker_view_model.g.dart
/lib/ui/screens/waiting_tile_checker/waiting_tile_checker_state.freezed.dart
/lib/data/model/chat_model.freezed.dart
